<title>{{ page.title | default: site.title }}</title>
<meta name="description" content="{{ page.description | default: site.description }}">
<meta name="keywords" content="{{ page.keywords | default: site.keywords | join: ', ' }}">
{% if page.author %}
  <meta name="author" content="{{ page.author }}">
  {% else %}
  <meta name="author" content="{{ site.author.name }}">
{% endif %}
<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
<meta property="og:logo" content="{{ site.url }}{{ site.logo }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:image" content="{{ site.url }}{% if page.image %}{{ page.image }}{% else %}/assets/default-og-image.jpg{% endif %}">
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta property="og:url" content="{{ site.url }}{{ page.permalink }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:locale" content="{{ site.locale }}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:image" content="{{ site.url }}{% if page.image %}{{ page.image }}{% else %}/assets/default-og-image.jpg{% endif %}">
<meta name="twitter:site" content="@{{ site.twitter_username }}">

<!-- Additional SEO Meta -->
<link rel="canonical" href="{{ site.url }}{{ page.permalink }}">
