{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Namaste Salesforce",
  "url": "https://namastesalesforce.com",
  "description": "Learn Salesforce with an open-source community-driven LMS.",
  "inLanguage": "en",
  "publisher": {
    "@type": "Organization",
    "name": "Namaste Salesforce",
    "url": "https://namastesalesforce.com",
    "logo": {
      "@type": "ImageObject",
      "url": "https://namastesalesforce.com/logo.png",
      "width": 512,
      "height": 512
    },
    "sameAs": [
      "https://twitter.com/namastesfdc",
      "https://linkedin.com/company/namastesalesforce",
      "https://github.com/namastesalesforce",
      "https://facebook.com/namastesalesforce",
      "https://youtube.com/namastesalesforce"
    ]
  },
  "author": {
    "@type": "Person",
    "name": "Swarnil",
    "url": "https://namastesalesforce.com/about",
    "sameAs": [
      "https://twitter.com/swarnil",
      "https://linkedin.com/in/swarnil",
      "https://github.com/swarnil"
    ]
  },
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://namastesalesforce.com/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  },
  "hasPart": [
    {
      "@type": "CollectionPage",
      "name": "Courses",
      "url": "https://namastesalesforce.com/courses/"
    },
    {
      "@type": "CollectionPage",
      "name": "Blogs",
      "url": "https://namastesalesforce.com/blogs/"
    },
    {
      "@type": "CollectionPage",
      "name": "Resources",
      "url": "https://namastesalesforce.com/resources/"
    }
  ],
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://namastesalesforce.com"
  },
  "breadcrumb": {
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "https://namastesalesforce.com"
      }
    ]
  },
  "sitemap": {
    "@type": "SiteNavigationElement",
    "name": "Sitemap",
    "url": "https://namastesalesforce.com/sitemap.xml"
  },
  "navigation": {
    "@type": "ItemList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "url": "https://namastesalesforce.com"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "Courses",
        "url": "https://namastesalesforce.com/courses/"
      },
      {
        "@type": "ListItem",
        "position": 3,
        "name": "Blog",
        "url": "https://namastesalesforce.com/blogs/"
      },
      {
        "@type": "ListItem",
        "position": 4,
        "name": "Resources",
        "url": "https://namastesalesforce.com/resources/"
      },
      {
        "@type": "ListItem",
        "position": 5,
        "name": "Contact",
        "url": "https://namastesalesforce.com/contact/"
      }
    ]
  }
}
