{
    "@type": "WebSite",
    "name": "{{ site.title }}",
    "url": "{{ site.url }}",
    "description": "{{ site.description }}",
    "inLanguage": "{{ site.lang | default: 'en' }}",
    "publisher": {
      "@type": "Organization",
      "name": "{{ site.organization.name }}",
      "url": "{{ site.organization.url }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ site.organization.logo }}",
        "width": 512,
        "height": 512
      },
      "sameAs": [
        "{{ site.organization.twitter }}",
        "{{ site.organization.linkedin }}",
        "{{ site.organization.github }}",
        "{{ site.organization.facebook }}",
        "{{ site.organization.youtube }}"
      ]
    },
    "author": {
      "@type": "Person",
      "name": "{{ site.author.name }}",
      "url": "{{ site.author.url }}",
      "sameAs": [
        "{{ site.author.twitter }}",
        "{{ site.author.linkedin }}",
        "{{ site.author.github }}"
      ]
    },
    "potentialAction": {
      "@type": "SearchAction",
      "target": "{{ site.url }}/search?q={search_term_string}",
      "query-input": "required name=search_term_string"
    },
    "hasPart": [
      {% for collection in site.collections %}
      {
        "@type": "CollectionPage",
        "name": "{{ collection.label | capitalize }}",
        "url": "{{ site.url }}/{{ collection.label }}/"
      }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ],
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ site.url }}"
    },
    "breadcrumb": {
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Home",
          "item": "{{ site.url }}"
        }
      ]
    },
    "sitemap": {
      "@type": "SiteNavigationElement",
      "name": "Sitemap",
      "url": "{{ site.url }}/sitemap.xml"
    },
    "navigation": {
      "@type": "ItemList",
      "itemListElement": [
        {% for link in site.data.navigation %}
        {
          "@type": "ListItem",
          "position": {{ forloop.index }},
          "name": "{{ link.title }}",
          "url": "{{ site.url }}{{ link.url }}"
        }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    }
  }
  