<div class="hero is-fullheight has-background-warning p-5">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">Custom 404 Page</h1>
            <p class="subtitle is-5">You can customize this template.</p>

            <figure class="image mb-3">
                <i class="fa fa-cogs fa-10x has-text-grey-dark"></i>
            </figure>

            <div class="buttons is-centered">
                <a href="/" class="button is-success">Home</a>
                <a href="/contact" class="button is-danger">Contact Us</a>
            </div>
        </div>
    </div>
</div>
