<div class="section has-text-centered">
    <h1 class="title is-1 has-text-danger">404 - Not Found</h1>
    <h2 class="subtitle">Oops! The page you're looking for doesn't exist.</h2>

    <figure class="image mb-3">
        <i class="fa fa-ban fa-10x has-text-grey-light"></i>
    </figure>

    <div class="buttons is-centered mt-5">
        <a href="/" class="button is-primary">
            <span class="icon"><i class="fas fa-home"></i></span>
            <span>Return Home</span>
        </a>
    </div>
</div>
