<head>
    <!-- General meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include head/robots.html %}    
    {% include head/jsonld.html %}  
    {% include head/open-graph.html %}   
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ site.url }}/sitemap.xml">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    {% include head/fonts.html %} 
    {% include head/style.html %}  
    <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">
    <meta name="theme-color" content="{{ site.primary_color | default: '#E53935' }}"/>
    {% include head/favicons.html %}
    {% include head/google-analytics.html %}
    {% include head/adsense.html %}
    {% include head/scripts.html %} 
    </head>
