<head>
    <!-- General meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include head/robots.html %}    
    {% include head/jsonld.html %}   
    {% if site.fonts.preconnect_urls %}
    {% for url in site.fonts.preconnect_urls %}
    <link rel="preconnect" href="{{ url }}" crossorigin />
    {% endfor %}
    {% endif %}
    {% if site.css_inline == true %}
       {% include head/styles.html %}
    {% else %}
      <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
    {% endif %}
    <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">
    <meta name="theme-color" content="{{ site.primary_color | default: '#E53935' }}"/>
    {% if site.favicons or site.avatarurl %}{% include site-favicons.html %}{% endif %}
    {% if site.google_analytics %}{% include site-analytics.html %}{% endif %}
    {% include site-fonts.html %}
    {% include site-before-start.html %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1291242080282540"
       crossorigin="anonymous"></script>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
       <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    </head>
