<sidebar class="sidebar">
  {% if page.layout == "post" %}
    <div class="column">
      <div class="my-5">
        {% assign contentsTitle = page.toc_title | default: 'Contents' %}
        {% include utility/toc.html html=content class='menu-list' h_min=2 h_max=3 contents_title=contentsTitle %}
    </div>
      {% include post-related.html %}
    </div>
  {% elsif page.layout == "page" or page.layout == "home" or page.layout == "blog" %}
    <div class="section">
      <h3 class="title is-3 mb-2">About this site</h3>
      <p>{{ site.description }}</p>
      {% include nav-social.html %}
      <div class=" my-5">
        {% assign contentsTitle = page.toc_title | default: 'Contents' %}
        {% include utility/toc.html html=content class='menu-list' h_min=2 h_max=3 contents_title=contentsTitle %}
    </div>
 
    
    </div>
     {% elsif page.layout == "categories" %}
    <div class="section">
      <h3>Index</h3>
      {% include nav-categories.html %}
    </div>
  {% endif %}

</sidebar>
