---
---

// Import Bulma
@import "../node_modules/bulma/sass/index";

// Navbar styles
.navbar {

  .navbar-item {
    font-weight:inherit;

    &:hover {
      background-color: transparent;
      color: $primary;
    }

    &.is-active {
      background-color: transparent;
      color: $primary;
      font-weight:500;
    }
  }

  .navbar-burger {
    &:hover {
      background-color: transparent;
      color: $primary;
    }
  }
}

// Import custom resume extensions
@import "../_sass/theme/index";
// Custom styles and overrides
html {
  scroll-behavior: smooth;
}

$primary: #E53935;
$link : $primary;
$family-sans-serif: "Roboto", "Arial", sans-serif !default;
$family-monospace: "Roboto Mono", monospace !default;
$render-mode: optimizeLegibility !default;

// Ensure columns inside the main content are aligned properly
.columns {
    align-items: flex-start; // Adjust alignment as needed
  }
  
  // Sticky behavior for the aside when page scrolls
  aside {
    position: -webkit-sticky;
    position: sticky;
    top: 20px; // Adjust top spacing as needed
  }

// Import custom resume extensions
@import "main";