<div class="series-card">
    <a href="{{ include.series.url }}">
      <figure class="image is-16by9">
        <img src="{{ include.series.thumbnail | default: site.defaults[0].values.thumbnail }}" alt="{{ include.series.title }}">
        <div class="series-overlay">
          <span class="icon is-large">
            <i class="fas fa-play"></i>
          </span>
        </div>
      </figure>
      <div class="series-info">
        <h3 class="title is-5">{{ include.series.title }}</h3>
        <div class="tags">
          <span class="tag is-primary">{{ include.series.episodes | size }} episodes</span>
          <span class="tag">{{ include.series.rating | default: "4.5" }} ★</span>
        </div>
      </div>
    </a>
  </div>