<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}" class=" {% if site.fixed_navbar %} has-navbar-fixed-top {% endif %}" >
{% include im-head.html %}
<body class="layout-{{ page.layout | default: 'default'}}">
    {% include im-navbar.html %}
            {{ content }}
            <script type="text/javascript">
                (() => {
                  const registerServiceWorker = () => {
                    if (!navigator.serviceWorker) {
                      return;
                    }
                
                    navigator.serviceWorker
                      .register("{{ "/sw.js" | relative_url }}")
                      .then(registration => {
                        console.log("Service Worker: registered");
                      })
                      .catch(err => {
                        console.log("Service Worker: registration failed ", err);
                      });
                  };
                
                  registerServiceWorker();
                })();
                </script>
       {% include site-before-end.html %}
</body>
</html>
