---
layout: default
---

{% include site-header.html %}
<main class="main section">
  <div class="container">
    <div class="columns">
      <div class="column is-9 p-5 ">
        <article class="article content">
          <header class="article-header">
            <h1 class="title is-2">{{ page.title }}</h1>
            <p class="subtitle is-5 mt-1">{{ page.description }}</p>
            <p class="meta my-5">
              <span class="mx-5"><i class="fas fa-calendar-alt"></i> {{ page.date | date: "%B %d, %Y" }}</span>
              <span class="mx-5"><i class="fas fa-user"></i> {{ page.author }}</span>
              <span class="mx-5"><i class="fas fa-tags"></i> {{ page.tags | array_to_sentence_string }}</span>
            </p>
            <figure class="image is-16by9 my-5">
              <img src="{{ page.image }}" alt="{{ page.title }} Image">
            </figure>
          </header>
          {{ content }}
        </article>
      </div>

      {% if page.aside == true %}
        <aside class="column is-3">
            {% include site-aside.html %}
        </aside>
      {% endif %}
    </div>
  </div>
</main>

{% include footer.html %}
