---
layout: default
---
<div class="series-detail">
  <div class="series-hero" style="background-image: url('{{ page.banner }}')">
    <div class="container">
      <h1>{{ page.title }}</h1>
      <p class="lead">{{ page.short_description }}</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ content }}
      </div>
      
      <div class="col-md-4">
        <div class="series-sidebar">
          {% if page.trailer %}
          <div class="trailer">
            <h3>Trailer</h3>
            <div class="video-container">
              <iframe src="{{ page.trailer }}" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          {% endif %}
          
          <div class="episodes">
            <h3>Episodes</h3>
            <ul>
              {% for ep in page.episodes %}
                <li>
                  <a href="{{ ep.url }}">
                    <span class="ep-title">{{ ep.title }}</span>
                    <span class="ep-duration">{{ ep.duration }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
          
          {% if page.cast %}
          <div class="cast">
            <h3>Cast</h3>
            <div class="cast-members">
              {% for person in page.cast %}
                <div class="cast-member">
                  <img src="{{ person.image }}" alt="{{ person.name }}">
                  <div>
                    <strong>{{ person.name }}</strong>
                    <span>{{ person.role }}</span>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>