{% comment %} Example navbar/navigation.html {% endcomment %}
{% assign navigation_items = site.data.navigation.main | default: site.navigation_main %}

{% for item in navigation_items %}
  {% if item.sublinks %}
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link {% if page.url contains item.url_base %}is-active router-link-active{% endif %}" href="{{ item.url | relative_url }}">
        {% if item.icon %}
        <span class="icon im-nav-icon">
          <i class="ph-duotone ph-{{ item.icon }}"></i>
        </span>
        {% endif %}
        {{ item.title }}
      </a>
      <div class="navbar-dropdown">
        {% for sublink in item.sublinks %}
          <a class="navbar-item {% if page.url == sublink.url %}is-active router-link-active{% endif %}" href="{{ sublink.url | relative_url }}">
            {{ sublink.title }}
          </a>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <a class="navbar-item {% if page.url == item.url or (page.url == '/' and item.url == '/') %}is-active router-link-active{% endif %}" href="{{ item.url | relative_url }}">
      {% if item.icon %}
      <span class="icon im-nav-icon">
        <i class="ph-duotone ph-{{ item.icon }}"></i>
      </span>
      {% endif %}
      {{ item.title }}
    </a>
  {% endif %}
{% endfor %}