<div class="navbar-start">
    {% for item in site.navbar %}
        {% comment %} --- Handle the special "Quick Access / Search" button case --- {% endcomment %}
        {% if item.name == nil and item.icon == 'fa-search' and item.link == '/search' %}
            {% continue %} {# Skip rendering it here; it will be handled in navbar-end if desired as a button #}
        {% else %}
            {% if item.dropdown %}
                <div class="navbar-item has-dropdown is-hoverable nav-link-item">
                    <a href="{{ item.link | relative_url }}" class="navbar-link nav-link {% if page.url == item.link or (item.name == 'Work' and page.url contains '/work') %}is-active-custom{% endif %}">
                        {{ item.name }}
                        {% if item.name == 'Work' %} {# Specific icon for "Work" as per screenshot #}
                            <span class="icon is-small play-icon"><i class="fas fa-play"></i></span>
                        {% endif %}
                    </a>
                    <div class="navbar-dropdown">
                        {% for subitem in item.dropdown %}
                            <a href="{{ subitem.link | relative_url }}" class="navbar-item">
                                {% if subitem.image %}
                                    <img src="{{ subitem.image }}" alt="{{ subitem.name }}" class="navbar-icon mr-2">
                                {% elsif subitem.icon %}
                                    <i class="fas {{ subitem.icon }} navbar-icon mr-2"></i>
                                {% endif %}
                                {{ subitem.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <a href="{{ item.link | relative_url }}" class="navbar-item nav-link {% if page.url == item.link or (item.name == 'Work' and page.url contains '/work') %}is-active-custom{% endif %}">
                    {{ item.name }}
                     {% if item.name == 'Work' %} {# Specific icon for "Work" as per screenshot #}
                        <span class="icon is-small play-icon"><i class="fas fa-play"></i></span>
                    {% endif %}
                </a>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>