<aside class="sidebar" x-data="{ openNav: false }">
    <!-- Sidebar Toggle Button -->
    <button class="sidebar-toggle" x-on:click="openNav = !openNav">
        <i class="fas" :class="{ 'fa-bars': !openNav, 'fa-times': openNav }"></i>
    </button>
    
    <div class="sidebar-content" :class="{ 'is-active': openNav }">
        <!-- Logo and Title -->
        <div class="sidebar-header">
            <a href="{{ site.baseurl }}/" class="sidebar-brand">
                <img class="image mr-2" src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }} Logo">
                <span>{{ site.title }}</span>
            </a>
        </div>
        
        <!-- Sidebar Menu Items -->
        <ul class="sidebar-menu">
            {% for item in site.data.navigation.navbar %}
                {% if item.dropdown %}
                    <li class="has-dropdown">
                        <a href="{{ item.link | relative_url }}" class="sidebar-link">
                            {% if item.icon %}<i class="fas {{ item.icon }}"></i>{% endif %}
                            {{ item.name }}
                            <i class="fas fa-chevron-down dropdown-arrow"></i>
                        </a>
                        <ul class="dropdown-menu">
                            {% for subitem in item.dropdown %}
                                <li>
                                    <a href="{{ subitem.link | relative_url }}" class="sidebar-item">
                                        {% if subitem.icon %}<i class="fas {{ subitem.icon }}"></i>{% endif %}
                                        {{ subitem.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ item.link | relative_url }}" class="sidebar-link">
                            {% if item.icon %}<i class="fas {{ item.icon }}"></i>{% endif %}
                            {{ item.name }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        
        <!-- Social Media Links -->
        <div class="sidebar-social">
            {% for item in site.data.navigation.social_media %}
                <a href="{{ item.link }}" target="_blank" class="sidebar-social-item">
                    <i class="fab fa-{{ item.name | downcase }}"></i>
                </a>
            {% endfor %}
        </div>
    </div>
</aside>
